<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>AlkeWalletMVC</display-name>
  <servlet>
	  <servlet-name>s1</servlet-name>
	  <servlet-class>controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>s1</servlet-name>
	  <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
	  <servlet-name>s2</servlet-name>
	  <servlet-class>controllers.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>s2</servlet-name>
	  <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
	  <servlet-name>s3</servlet-name>
	  <servlet-class>controllers.DepositController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>s3</servlet-name>
	  <url-pattern>/deposito</url-pattern>
  </servlet-mapping>
  <servlet>
	  <servlet-name>s4</servlet-name>
	  <servlet-class>controllers.RetirarController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>s4</servlet-name>
	  <url-pattern>/retiro</url-pattern>
  </servlet-mapping>
  
  <!-- 
	<servlet>
		<servlet-name>s2</servlet-name>
		<servlet-class>controller.NuevaCuentaController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s2</servlet-name>
		<url-pattern>/NuevaCuenta</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>s3</servlet-name>
		<servlet-class>controller.FormDepositoCuentaController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s3</servlet-name>
		<url-pattern>/FormRealizarDeposito</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>s4</servlet-name>
		<servlet-class>controller.DepositoCuentaController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s4</servlet-name>
		<url-pattern>/RealizarDeposito</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>s5</servlet-name>
		<servlet-class>controller.FormRetiroCuentaController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s5</servlet-name>
		<url-pattern>/FormRealizarRetiro</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>s6</servlet-name>
		<servlet-class>controller.RetiroCuentaController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s6</servlet-name>
		<url-pattern>/RealizarRetiro</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>s7</servlet-name>
		<servlet-class>controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s7</servlet-name>
		<url-pattern>/ValidarLogin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>s8</servlet-name>
		<servlet-class>controller.HomeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s8</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping> -->
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>